USE [master];
GO

IF DB_ID(N'FPTDrink') IS NOT NULL
BEGIN
	ALTER DATABASE [FPTDrink] SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
	DROP DATABASE [FPTDrink];
END;
GO

CREATE DATABASE [FPTDrink];
GO

USE [FPTDrink];
GO

SET ANSI_NULLS ON;
SET QUOTED_IDENTIFIER ON;
GO

/****** TABLES ******/
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED ([MigrationId] ASC, [ContextKey] ASC)
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY];
GO

CREATE TABLE [dbo].[Category](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Alias] [nvarchar](150) NOT NULL,
	[Link] [nvarchar](max) NULL,
	[SeoTitle] [nvarchar](150) NULL,
	[SeoDescription] [nvarchar](250) NULL,
	[SeoKeywords] [nvarchar](150) NULL,
	[IsActive] [bit] NOT NULL,
	[Position] [int] NULL,
	[Status] [int] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[Modifiedby] [nvarchar](max) NULL,
	[Title] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_dbo.Category] PRIMARY KEY CLUSTERED ([ID] ASC)
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY];
GO

CREATE TABLE [dbo].[KhachHang](
	[ID] [varchar](50) NOT NULL,
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](255) NULL,
	[Email] [varchar](500) NOT NULL,
	[SoDienThoai] [varchar](20) NOT NULL,
	[HoTen] [nvarchar](150) NOT NULL,
	[NgaySinh] [datetime] NULL,
	[GioiTinh] [bit] NULL,
	[DiaChi] [nvarchar](500) NULL,
	[CCCD] [varchar](500) NULL,
	[Image] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[IsEmailVerified] [bit] NOT NULL,
	[EmailVerificationOtp] [varchar](6) NULL,
	[EmailVerificationOtpExpiry] [datetime] NULL,
	[EmailVerificationAttempts] [int] NOT NULL,
	[GoogleId] [varchar](255) NULL,
	[GoogleEmail] [varchar](500) NULL,
	[IsGoogleAccount] [bit] NOT NULL,
	[PasswordResetToken] [varchar](255) NULL,
	[PasswordResetExpiry] [datetime] NULL,
	[LastLoginDate] [datetime] NULL,
	[Status] [int] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[Modifiedby] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.KhachHang] PRIMARY KEY CLUSTERED ([ID] ASC)
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY];
GO

CREATE TABLE [dbo].[GioHang](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_KhachHang] [varchar](50) NOT NULL,
	[MaSanPham] [varchar](50) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_dbo.GioHang] PRIMARY KEY CLUSTERED ([ID] ASC)
) ON [PRIMARY];
GO

CREATE TABLE [dbo].[GioHangTam](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CartId] [varchar](50) NOT NULL,
	[MaSanPham] [varchar](50) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ExpiryDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.GioHangTam] PRIMARY KEY CLUSTERED ([ID] ASC)
) ON [PRIMARY];
GO

CREATE TABLE [dbo].[ChiTietHoaDon](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [varchar](50) NULL,
	[ProductID] [varchar](50) NULL,
	[GiaBan] [decimal](18, 2) NOT NULL,
	[GiamGia] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ChiTietHoaDon] PRIMARY KEY CLUSTERED ([ID] ASC)
) ON [PRIMARY];
GO

CREATE TABLE [dbo].[ChucNangQuyen](
	[MaChucNang] [varchar](50) NOT NULL,
	[TenChucNang] [nvarchar](500) NOT NULL,
	[MoTa] [nvarchar](500) NULL,
 CONSTRAINT [PK_dbo.ChucNangQuyen] PRIMARY KEY CLUSTERED ([MaChucNang] ASC)
) ON [PRIMARY];
GO

CREATE TABLE [dbo].[ChucVu](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenChucVu] [nvarchar](500) NOT NULL,
	[MoTa] [nvarchar](500) NULL,
	[Status] [int] NOT NULL,
	[CreatedBy] [nvarchar](max) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[Modifiedby] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ChucVu] PRIMARY KEY CLUSTERED ([ID] ASC)
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY];
GO

CREATE TABLE [dbo].[HoaDon](
	[MaHoaDon] [varchar](50) NOT NULL,
	[TenKhachHang] [nvarchar](500) NOT NULL,
	[SoDienThoai] [varchar](max) NOT NULL,
	[DiaChi] [nvarchar](500) NOT NULL,
	[Email] [varchar](500) NULL,
	[PhuongThucThanhToan] [int] NOT NULL,
	[TrangThai] [int] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[Modifiedby] [nvarchar](max) NULL,
	[ID_KhachHang] [varchar](50) NULL,
	[CCCD] [varchar](500) NOT NULL,
	[ID_NhanVien] [varchar](50) NULL,
 CONSTRAINT [PK_dbo.HoaDon] PRIMARY KEY CLUSTERED ([MaHoaDon] ASC)
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY];
GO

CREATE TABLE [dbo].[NhaCungCap](
	[MaNhaCungCap] [varchar](50) NOT NULL,
	[Title] [nvarchar](500) NOT NULL,
	[Alias] [nvarchar](500) NOT NULL,
	[Image] [nvarchar](max) NULL,
	[SoDienThoai] [varchar](max) NOT NULL,
	[Email] [varchar](max) NOT NULL,
	[Status] [int] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[Modifiedby] [nvarchar](max) NULL,
	[SeoTitle] [nvarchar](150) NULL,
	[SeoDescription] [nvarchar](250) NULL,
	[SeoKeywords] [nvarchar](150) NULL,
	[ID_NhanVien] [varchar](50) NULL,
 CONSTRAINT [PK_dbo.NhaCungCap] PRIMARY KEY CLUSTERED ([MaNhaCungCap] ASC)
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY];
GO

CREATE TABLE [dbo].[NhanVien](
	[ID] [varchar](50) NOT NULL,
	[ID_ChucVu] [int] NULL,
	[FullName] [nvarchar](150) NOT NULL,
	[NgaySinh] [datetime] NOT NULL,
	[Image] [nvarchar](max) NULL,
	[GioiTinh] [bit] NOT NULL,
	[DiaChi] [nvarchar](500) NOT NULL,
	[SoDienThoai] [varchar](max) NOT NULL,
	[Email] [varchar](500) NOT NULL,
	[CCCD] [varchar](500) NOT NULL,
	[Status] [int] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[Modifiedby] [nvarchar](max) NULL,
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](50) NOT NULL,
	[TenHienThi] [nvarchar](150) NOT NULL,
	[IsActiveAccount] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.NhanVien] PRIMARY KEY CLUSTERED ([ID] ASC)
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY];
GO

CREATE TABLE [dbo].[PhanQuyen](
	[MaChucNang] [varchar](50) NOT NULL,
	[IDChucVu] [int] NOT NULL,
	[GhiChu] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.PhanQuyen] PRIMARY KEY CLUSTERED ([IDChucVu] ASC, [MaChucNang] ASC)
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY];
GO

CREATE TABLE [dbo].[Product](
	[MaSanPham] [varchar](50) NOT NULL,
	[ProductCategoryID] [varchar](50) NOT NULL,
	[SupplierID] [varchar](50) NOT NULL,
	[Title] [nvarchar](500) NOT NULL,
	[Alias] [nvarchar](500) NOT NULL,
	[Image] [nvarchar](max) NULL,
	[MoTa] [nvarchar](max) NULL,
	[ChiTiet] [nvarchar](max) NULL,
	[GiaNhap] [decimal](18, 2) NOT NULL,
	[GiaNiemYet] [decimal](18, 2) NOT NULL,
	[GiaBan] [decimal](18, 2) NULL,
	[GiamGia] [decimal](18, 2) NULL,
	[SoLuong] [int] NOT NULL,
	[ViewCount] [int] NOT NULL,
	[IsHome] [bit] NOT NULL,
	[IsSale] [bit] NOT NULL,
	[IsNew] [bit] NOT NULL,
	[IsHot] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[SeoTitle] [nvarchar](max) NULL,
	[SeoDescription] [nvarchar](max) NULL,
	[SeoKeywords] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[Modifiedby] [nvarchar](max) NULL,
	[ID_NhanVien] [varchar](50) NULL,
 CONSTRAINT [PK_dbo.Product] PRIMARY KEY CLUSTERED ([MaSanPham] ASC)
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY];
GO

CREATE TABLE [dbo].[ProductCategory](
	[MaLoaiSanPham] [varchar](50) NOT NULL,
	[Title] [nvarchar](500) NOT NULL,
	[Alias] [nvarchar](500) NOT NULL,
	[MoTa] [nvarchar](500) NULL,
	[Image] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[Status] [int] NOT NULL,
	[SeoTitle] [nvarchar](150) NULL,
	[SeoDescription] [nvarchar](250) NULL,
	[SeoKeywords] [nvarchar](150) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[Modifiedby] [nvarchar](max) NULL,
	[CategoryID] [int] NULL,
 CONSTRAINT [PK_dbo.ProductCategory] PRIMARY KEY CLUSTERED ([MaLoaiSanPham] ASC)
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY];
GO

CREATE TABLE [dbo].[ThongKe](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ThoiGian] [datetime] NOT NULL,
	[SoTruyCap] [bigint] NOT NULL,
	[ID_NhanVien] [varchar](50) NULL,
 CONSTRAINT [PK_dbo.ThongKe] PRIMARY KEY CLUSTERED ([ID] ASC)
) ON [PRIMARY];
GO

/****** INDEXES ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_KhachHang_TenDangNhap] ON [dbo].[KhachHang]([TenDangNhap]);
CREATE UNIQUE NONCLUSTERED INDEX [IX_KhachHang_Email] ON [dbo].[KhachHang]([Email]);
CREATE UNIQUE NONCLUSTERED INDEX [IX_KhachHang_GoogleId] ON [dbo].[KhachHang]([GoogleId]) WHERE [GoogleId] IS NOT NULL;
CREATE NONCLUSTERED INDEX [IX_KhachHang_SoDienThoai] ON [dbo].[KhachHang]([SoDienThoai]);

CREATE NONCLUSTERED INDEX [IX_GioHang_KhachHang] ON [dbo].[GioHang]([ID_KhachHang]);
CREATE NONCLUSTERED INDEX [IX_GioHang_Product] ON [dbo].[GioHang]([MaSanPham]);
CREATE UNIQUE NONCLUSTERED INDEX [IX_GioHang_Unique] ON [dbo].[GioHang]([ID_KhachHang], [MaSanPham]);

CREATE NONCLUSTERED INDEX [IX_GioHangTam_CartId] ON [dbo].[GioHangTam]([CartId]);
CREATE NONCLUSTERED INDEX [IX_GioHangTam_ExpiryDate] ON [dbo].[GioHangTam]([ExpiryDate]);

CREATE NONCLUSTERED INDEX [IX_OrderID] ON [dbo].[ChiTietHoaDon]([OrderID] ASC);
CREATE NONCLUSTERED INDEX [IX_ProductID] ON [dbo].[ChiTietHoaDon]([ProductID] ASC);
CREATE NONCLUSTERED INDEX [IX_ID_ChucVu] ON [dbo].[NhanVien]([ID_ChucVu] ASC);
CREATE NONCLUSTERED INDEX [IX_IDChucVu] ON [dbo].[PhanQuyen]([IDChucVu] ASC);
CREATE NONCLUSTERED INDEX [IX_MaChucNang] ON [dbo].[PhanQuyen]([MaChucNang] ASC);
CREATE NONCLUSTERED INDEX [IX_ProductCategoryID] ON [dbo].[Product]([ProductCategoryID] ASC);
CREATE NONCLUSTERED INDEX [IX_SupplierID] ON [dbo].[Product]([SupplierID] ASC);
GO

/****** DEFAULTS ******/
ALTER TABLE [dbo].[Category] ADD DEFAULT ('') FOR [Title];
ALTER TABLE [dbo].[KhachHang] ADD DEFAULT ((1)) FOR [IsActive];
ALTER TABLE [dbo].[KhachHang] ADD DEFAULT ((0)) FOR [IsEmailVerified];
ALTER TABLE [dbo].[KhachHang] ADD DEFAULT ((0)) FOR [EmailVerificationAttempts];
ALTER TABLE [dbo].[KhachHang] ADD DEFAULT ((0)) FOR [IsGoogleAccount];
ALTER TABLE [dbo].[KhachHang] ADD DEFAULT ((1)) FOR [Status];
ALTER TABLE [dbo].[KhachHang] ADD DEFAULT (GETDATE()) FOR [CreatedDate];

ALTER TABLE [dbo].[GioHang] ADD DEFAULT ((1)) FOR [SoLuong];
ALTER TABLE [dbo].[GioHang] ADD DEFAULT (GETDATE()) FOR [CreatedDate];

ALTER TABLE [dbo].[GioHangTam] ADD DEFAULT ((1)) FOR [SoLuong];
ALTER TABLE [dbo].[GioHangTam] ADD DEFAULT (GETDATE()) FOR [CreatedDate];

ALTER TABLE [dbo].[HoaDon] ADD CONSTRAINT [DF_HoaDon_CCCD] DEFAULT ('') FOR [CCCD];

ALTER TABLE [dbo].[NhaCungCap] ADD CONSTRAINT [DF_NhaCungCap_Title] DEFAULT ('') FOR [Title];
ALTER TABLE [dbo].[NhanVien] ADD CONSTRAINT [DF_NhanVien_TenDangNhap] DEFAULT ('') FOR [TenDangNhap];
ALTER TABLE [dbo].[NhanVien] ADD CONSTRAINT [DF_NhanVien_MatKhau] DEFAULT ('') FOR [MatKhau];
ALTER TABLE [dbo].[NhanVien] ADD CONSTRAINT [DF_NhanVien_TenHienThi] DEFAULT ('') FOR [TenHienThi];
ALTER TABLE [dbo].[NhanVien] ADD CONSTRAINT [DF_NhanVien_IsActiveAccount] DEFAULT ((0)) FOR [IsActiveAccount];
ALTER TABLE [dbo].[PhanQuyen] ADD CONSTRAINT [DF_PhanQuyen_IDChucVu] DEFAULT ((0)) FOR [IDChucVu];
ALTER TABLE [dbo].[Product] ADD CONSTRAINT [DF_Product_Title] DEFAULT ('') FOR [Title];
ALTER TABLE [dbo].[Product] ADD CONSTRAINT [DF_Product_GiaNiemYet] DEFAULT ((0)) FOR [GiaNiemYet];
ALTER TABLE [dbo].[ProductCategory] ADD CONSTRAINT [DF_ProductCategory_Title] DEFAULT ('') FOR [Title];
GO

/****** FOREIGN KEYS ******/
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD CONSTRAINT [FK_ChiTietHoaDon_HoaDon] FOREIGN KEY([OrderID]) REFERENCES [dbo].[HoaDon] ([MaHoaDon]) ON DELETE CASCADE;
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_HoaDon];

ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD CONSTRAINT [FK_ChiTietHoaDon_Product] FOREIGN KEY([ProductID]) REFERENCES [dbo].[Product] ([MaSanPham]) ON DELETE CASCADE;
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_Product];

ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD CONSTRAINT [FK_NhanVien_ChucVu] FOREIGN KEY([ID_ChucVu]) REFERENCES [dbo].[ChucVu] ([ID]);
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_ChucVu];

ALTER TABLE [dbo].[PhanQuyen]  WITH CHECK ADD CONSTRAINT [FK_PhanQuyen_ChucNang] FOREIGN KEY([MaChucNang]) REFERENCES [dbo].[ChucNangQuyen] ([MaChucNang]) ON DELETE CASCADE;
ALTER TABLE [dbo].[PhanQuyen] CHECK CONSTRAINT [FK_PhanQuyen_ChucNang];

ALTER TABLE [dbo].[PhanQuyen]  WITH CHECK ADD CONSTRAINT [FK_PhanQuyen_ChucVu] FOREIGN KEY([IDChucVu]) REFERENCES [dbo].[ChucVu] ([ID]) ON DELETE CASCADE;
ALTER TABLE [dbo].[PhanQuyen] CHECK CONSTRAINT [FK_PhanQuyen_ChucVu];

ALTER TABLE [dbo].[Product]  WITH CHECK ADD CONSTRAINT [FK_Product_NhaCungCap] FOREIGN KEY([SupplierID]) REFERENCES [dbo].[NhaCungCap] ([MaNhaCungCap]) ON DELETE CASCADE;
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_NhaCungCap];

ALTER TABLE [dbo].[Product]  WITH CHECK ADD CONSTRAINT [FK_Product_ProductCategory] FOREIGN KEY([ProductCategoryID]) REFERENCES [dbo].[ProductCategory] ([MaLoaiSanPham]) ON DELETE CASCADE;
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_ProductCategory];

ALTER TABLE [dbo].[ProductCategory]  WITH CHECK ADD CONSTRAINT [FK_ProductCategory_Category] FOREIGN KEY([CategoryID]) REFERENCES [dbo].[Category] ([ID]) ON DELETE CASCADE;
ALTER TABLE [dbo].[ProductCategory] CHECK CONSTRAINT [FK_ProductCategory_Category];

ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD CONSTRAINT [FK_HoaDon_NhanVien] FOREIGN KEY([ID_NhanVien]) REFERENCES [dbo].[NhanVien] ([ID]) ON DELETE SET NULL;
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_NhanVien];

ALTER TABLE [dbo].[Product]  WITH CHECK ADD CONSTRAINT [FK_Product_NhanVien] FOREIGN KEY([ID_NhanVien]) REFERENCES [dbo].[NhanVien] ([ID]) ON DELETE SET NULL;
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_NhanVien];

ALTER TABLE [dbo].[NhaCungCap]  WITH CHECK ADD CONSTRAINT [FK_NhaCungCap_NhanVien] FOREIGN KEY([ID_NhanVien]) REFERENCES [dbo].[NhanVien] ([ID]) ON DELETE SET NULL;
ALTER TABLE [dbo].[NhaCungCap] CHECK CONSTRAINT [FK_NhaCungCap_NhanVien];

ALTER TABLE [dbo].[ThongKe]  WITH CHECK ADD CONSTRAINT [FK_ThongKe_NhanVien] FOREIGN KEY([ID_NhanVien]) REFERENCES [dbo].[NhanVien] ([ID]);
ALTER TABLE [dbo].[ThongKe] CHECK CONSTRAINT [FK_ThongKe_NhanVien];

ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD CONSTRAINT [FK_HoaDon_KhachHang] FOREIGN KEY([ID_KhachHang]) REFERENCES [dbo].[KhachHang] ([ID]) ON DELETE SET NULL;
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_KhachHang];

ALTER TABLE [dbo].[GioHang]  WITH CHECK ADD CONSTRAINT [FK_GioHang_KhachHang] FOREIGN KEY([ID_KhachHang]) REFERENCES [dbo].[KhachHang] ([ID]) ON DELETE CASCADE;
ALTER TABLE [dbo].[GioHang] CHECK CONSTRAINT [FK_GioHang_KhachHang];

ALTER TABLE [dbo].[GioHang]  WITH CHECK ADD CONSTRAINT [FK_GioHang_Product] FOREIGN KEY([MaSanPham]) REFERENCES [dbo].[Product] ([MaSanPham]) ON DELETE CASCADE;
ALTER TABLE [dbo].[GioHang] CHECK CONSTRAINT [FK_GioHang_Product];

ALTER TABLE [dbo].[GioHangTam]  WITH CHECK ADD CONSTRAINT [FK_GioHangTam_Product] FOREIGN KEY([MaSanPham]) REFERENCES [dbo].[Product] ([MaSanPham]) ON DELETE CASCADE;
ALTER TABLE [dbo].[GioHangTam] CHECK CONSTRAINT [FK_GioHangTam_Product];
GO

GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([ID], [Alias], [Link], [SeoTitle], [SeoDescription], [SeoKeywords], [IsActive], [Position], [Status], [CreatedBy], [CreatedDate], [ModifiedDate], [Modifiedby], [Title]) VALUES (1, N'trang-chu', NULL, N'Trang chủ', N'Trang chủ', N'Trang chủ', 1, 1, 1, N'FPTDrink Administrator', CAST(N'2025-11-18T13:41:20.290' AS DateTime), NULL, NULL, N'Trang chủ')
INSERT [dbo].[Category] ([ID], [Alias], [Link], [SeoTitle], [SeoDescription], [SeoKeywords], [IsActive], [Position], [Status], [CreatedBy], [CreatedDate], [ModifiedDate], [Modifiedby], [Title]) VALUES (2, N'san-pham', NULL, N'Sản phẩm', N'Sản phẩm', N'Sản phẩm', 1, 2, 1, N'FPTDrink Administrator', CAST(N'2025-11-18T13:41:33.150' AS DateTime), NULL, NULL, N'Sản phẩm')
INSERT [dbo].[Category] ([ID], [Alias], [Link], [SeoTitle], [SeoDescription], [SeoKeywords], [IsActive], [Position], [Status], [CreatedBy], [CreatedDate], [ModifiedDate], [Modifiedby], [Title]) VALUES (5, N'nha-cung-cap', NULL, N'Nhà cung cấp', N'Nhà cung cấp', N'Nhà cung cấp', 0, 3, 0, N'FPTDrink Administrator', CAST(N'2025-11-18T13:48:19.573' AS DateTime), CAST(N'2025-11-19T23:24:41.437' AS DateTime), N'FPTDrink Administrator', N'Nhà cung cấp')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
INSERT [dbo].[ChucNangQuyen] ([MaChucNang], [TenChucNang], [MoTa]) VALUES (N'FPTDrink_ChinhSua', N'Chỉnh sửa', NULL)
INSERT [dbo].[ChucNangQuyen] ([MaChucNang], [TenChucNang], [MoTa]) VALUES (N'FPTDrink_ThemMoi', N'Thêm mới', NULL)
INSERT [dbo].[ChucNangQuyen] ([MaChucNang], [TenChucNang], [MoTa]) VALUES (N'FPTDrink_ThongKe', N'Xem thống kê', NULL)
GO
SET IDENTITY_INSERT [dbo].[ChucVu] ON 

INSERT [dbo].[ChucVu] ([ID], [TenChucVu], [MoTa], [Status], [CreatedBy], [CreatedDate], [ModifiedDate], [Modifiedby]) VALUES (2, N'Quản lý', N'Chức vụ cấp cao nhất của FPTDrink.', 1, N'FPTDrink', CAST(N'2025-11-17T00:00:00.000' AS DateTime), CAST(N'2025-11-17T22:21:06.850' AS DateTime), N'FPTDrink Administrator')
INSERT [dbo].[ChucVu] ([ID], [TenChucVu], [MoTa], [Status], [CreatedBy], [CreatedDate], [ModifiedDate], [Modifiedby]) VALUES (4, N'Kế toán', NULL, 1, N'FPTDrink Administrator', CAST(N'2025-11-17T22:08:04.847' AS DateTime), NULL, NULL)
INSERT [dbo].[ChucVu] ([ID], [TenChucVu], [MoTa], [Status], [CreatedBy], [CreatedDate], [ModifiedDate], [Modifiedby]) VALUES (5, N'Thu ngân', NULL, 1, N'FPTDrink Administrator', CAST(N'2025-11-17T22:13:13.130' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[ChucVu] OFF
GO
INSERT [dbo].[KhachHang] ([ID], [TenDangNhap], [MatKhau], [Email], [SoDienThoai], [HoTen], [IsActive], [IsEmailVerified], [EmailVerificationAttempts], [IsGoogleAccount], [Status], [CreatedBy], [CreatedDate]) VALUES (N'3Z366C3L', N'demo.customer', N'$2a$10$demoCustomerHashValue', N'demo.customer@fptdrink.vn', N'0999999999', N'Demo Customer', 1, 1, 0, 0, 1, N'FPTDrink Administrator', CAST(N'2025-11-01T08:00:00.000' AS DateTime))
GO
INSERT [dbo].[HoaDon] ([MaHoaDon], [TenKhachHang], [SoDienThoai], [DiaChi], [Email], [PhuongThucThanhToan], [TrangThai], [CreatedBy], [CreatedDate], [ModifiedDate], [Modifiedby], [ID_KhachHang], [CCCD]) VALUES (N'2410304W3PZ76B', N'demo', N'0999999999', N'adasd', N'nnnnnn@gmail.com', 3, 2, N'demo', CAST(N'2025-11-30T14:54:46.753' AS DateTime), CAST(N'2025-11-30T14:54:46.753' AS DateTime), NULL, N'3Z366C3L', N'777777777')
GO
INSERT [dbo].[NhaCungCap] ([MaNhaCungCap], [Title], [Alias], [Image], [SoDienThoai], [Email], [Status], [CreatedBy], [CreatedDate], [ModifiedDate], [Modifiedby], [SeoTitle], [SeoDescription], [SeoKeywords]) VALUES (N'1AZIA6K5', N'TH True Milk', N'th-true-milk', N'/Uploads/files/th.jpg', N'05942376129', N'applestore@icloud.com', 1, N'FPTDrink Administrator', CAST(N'2025-11-18T13:25:22.000' AS DateTime), CAST(N'2025-11-29T18:55:25.067' AS DateTime), N'FPTDrink Administrator', N'TH True Milk', N'TH True Milk', N'TH True Milk')
INSERT [dbo].[NhaCungCap] ([MaNhaCungCap], [Title], [Alias], [Image], [SoDienThoai], [Email], [Status], [CreatedBy], [CreatedDate], [ModifiedDate], [Modifiedby], [SeoTitle], [SeoDescription], [SeoKeywords]) VALUES (N'6ALDKXYM', N'Vinamilk', N'vinamilk', N'/Uploads/files/logo-vinamilk-png-vinamilk-logo-800.jpg', N'98574328594', N'xiaomimi@china.com', 1, N'FPTDrink Administrator', CAST(N'2025-11-21T23:29:45.000' AS DateTime), CAST(N'2025-11-29T18:57:08.917' AS DateTime), N'FPTDrink Administrator', N'Vinamilk', N'Vinamilk', N'Vinamilk')
INSERT [dbo].[NhaCungCap] ([MaNhaCungCap], [Title], [Alias], [Image], [SoDienThoai], [Email], [Status], [CreatedBy], [CreatedDate], [ModifiedDate], [Modifiedby], [SeoTitle], [SeoDescription], [SeoKeywords]) VALUES (N'E9CD2UJZ', N'Coca-Cola Vietnam', N'coca-cola-vietnam', N'/Uploads/files/1641786836394.jpg', N'98542875589', N'coca@support.vn', 1, N'FPTDrink Administrator', CAST(N'2025-11-21T23:27:52.000' AS DateTime), CAST(N'2025-11-29T18:58:11.583' AS DateTime), N'FPTDrink Administrator', N'Coca-Cola Vietnam', N'Coca-Cola Vietnam', N'Coca-Cola Vietnam')
GO
INSERT [dbo].[PhanQuyen] ([MaChucNang], [IDChucVu], [GhiChu]) VALUES (N'FPTDrink_ChinhSua', 2, NULL)
INSERT [dbo].[PhanQuyen] ([MaChucNang], [IDChucVu], [GhiChu]) VALUES (N'FPTDrink_ThemMoi', 2, NULL)
INSERT [dbo].[PhanQuyen] ([MaChucNang], [IDChucVu], [GhiChu]) VALUES (N'FPTDrink_ThongKe', 2, NULL)
GO
GO
INSERT [dbo].[ProductCategory] ([MaLoaiSanPham], [Title], [Alias], [MoTa], [Image], [IsActive], [Status], [SeoTitle], [SeoDescription], [SeoKeywords], [CreatedBy], [CreatedDate], [ModifiedDate], [Modifiedby]) VALUES (N'3S4NW9AP', N'Cà phê', N'ca-phe', N'Cà phê', N'/Uploads/images/ProductCategory/10139_1.jpg', 1, 1, N'Cà phê', N'Cà phê', N'Cà phê', N'FPTDrink Administrator', CAST(N'2025-11-18T13:19:47.000' AS DateTime), CAST(N'2025-11-29T19:02:39.357' AS DateTime), N'FPTDrink Administrator')
INSERT [dbo].[ProductCategory] ([MaLoaiSanPham], [Title], [Alias], [MoTa], [Image], [IsActive], [Status], [SeoTitle], [SeoDescription], [SeoKeywords], [CreatedBy], [CreatedDate], [ModifiedDate], [Modifiedby]) VALUES (N'6LC419VJ', N'Trà thảo mộc', N'tra-thao-moc', N'Đồng hồ thông minh', N'/Uploads/images/ProductCategory/cach-su-dung-dong-ho-thong-minh.jpg', 1, 1, N'Trà thảo mộc', N'Trà thảo mộc', N'Trà thảo mộc', N'FPTDrink Administrator', CAST(N'2025-11-18T13:20:34.000' AS DateTime), CAST(N'2025-11-29T19:05:35.833' AS DateTime), N'FPTDrink Administrator')
INSERT [dbo].[ProductCategory] ([MaLoaiSanPham], [Title], [Alias], [MoTa], [Image], [IsActive], [Status], [SeoTitle], [SeoDescription], [SeoKeywords], [CreatedBy], [CreatedDate], [ModifiedDate], [Modifiedby]) VALUES (N'AK3SXIEP', N'Trà sữa đóng chai', N'tra-sua-dong-chai', N'Trà sữa đóng chai', N'/Uploads/images/ProductCategory/kich-thuoc-tivi-75inch-1.jpg', 1, 1, N'Trà sữa đóng chai', N'Trà sữa đóng chai', N'Trà sữa đóng chai', N'FPTDrink Administrator', CAST(N'2025-11-18T13:20:02.000' AS DateTime), CAST(N'2025-11-29T19:06:35.563' AS DateTime), N'FPTDrink Administrator')
GO
SET IDENTITY_INSERT [dbo].[ChiTietHoaDon] ON 

INSERT [dbo].[ChiTietHoaDon] ([ID], [OrderID], [ProductID], [GiaBan], [GiamGia], [SoLuong]) VALUES (93, N'2410304W3PZ76B', N'1PAR2Q1A', CAST(12350.00 AS Decimal(18, 2)), 0, 2)
SET IDENTITY_INSERT [dbo].[ChiTietHoaDon] OFF
GO
SET IDENTITY_INSERT [dbo].[ThongKe] ON 

INSERT [dbo].[ThongKe] ([ID], [ThoiGian], [SoTruyCap]) VALUES (1, CAST(N'2025-11-01T23:55:07.577' AS DateTime), 7)
INSERT [dbo].[ThongKe] ([ID], [ThoiGian], [SoTruyCap]) VALUES (2, CAST(N'2025-11-02T23:59:10.380' AS DateTime), 14)
INSERT [dbo].[ThongKe] ([ID], [ThoiGian], [SoTruyCap]) VALUES (3, CAST(N'2025-11-03T23:53:16.297' AS DateTime), 30)
SET IDENTITY_INSERT [dbo].[ThongKe] OFF

/****** STORED PROCEDURE ******/
IF OBJECT_ID(N'dbo.sp_ThongKe', N'P') IS NOT NULL
	DROP PROCEDURE [dbo].[sp_ThongKe];
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ThongKe]
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @SoTruyCapGanNhat INT;
	DECLARE @Count INT;
	SELECT @Count = COUNT(*) FROM ThongKe;
	IF @Count IS NULL SET @Count = 0;

	IF @Count = 0
		INSERT INTO ThongKe(ThoiGian, SoTruyCap) VALUES(GETDATE(), 1);
	ELSE
	BEGIN
		DECLARE @ThoiGianGanNhat DATETIME;
		SELECT @SoTruyCapGanNhat = tk.SoTruyCap, @ThoiGianGanNhat = tk.ThoiGian
		FROM ThongKe tk WHERE tk.Id = (SELECT MAX(tk1.Id) FROM ThongKe tk1);

		IF @SoTruyCapGanNhat IS NULL SET @SoTruyCapGanNhat = 0;
		IF @ThoiGianGanNhat IS NULL SET @ThoiGianGanNhat = GETDATE();

		IF DAY(@ThoiGianGanNhat) = DAY(GETDATE())
		BEGIN
			UPDATE ThongKe
			SET SoTruyCap = @SoTruyCapGanNhat + 1,
				ThoiGian = GETDATE()
			WHERE Id = (SELECT MAX(tk1.Id) FROM ThongKe tk1);
		END
		ELSE
			INSERT INTO ThongKe(ThoiGian, SoTruyCap) VALUES(GETDATE(), 1);
	END

	DECLARE @HomNay INT;
	SET @HomNay = DATEPART(DW, GETDATE());

	SELECT @SoTruyCapGanNhat = SoTruyCap, @ThoiGianGanNhat = ThoiGian
	FROM ThongKe WHERE Id = (SELECT MAX(Id) FROM ThongKe);

	DECLARE @TruyCapHomQua BIGINT;
	SELECT @TruyCapHomQua = ISNULL(SoTruyCap, 0)
	FROM ThongKe WHERE CONVERT(nvarchar(20), ThoiGian, 103) = CONVERT(nvarchar(20), GETDATE()-1, 103);
	IF @TruyCapHomQua IS NULL SET @TruyCapHomQua = 0;

	DECLARE @DauTuanNay DATETIME;
	SET @DauTuanNay = DATEADD(wk, DATEDIFF(wk, 6, GETDATE()), 6);

	DECLARE @NgayDauTuanTruoc DATETIME;
	SET @NgayDauTuanTruoc = CAST(CONVERT(nvarchar(30), DATEADD(dd, -(@HomNay+6), GETDATE()), 101) AS DATETIME);

	DECLARE @NgayCuoiTuanTruoc DATETIME;
	SET @NgayCuoiTuanTruoc = CAST(CONVERT(nvarchar(30), DATEADD(dd, -@HomNay, GETDATE()), 101) + ' 23:59:59' AS DATETIME);

	DECLARE @TruyCapTuanNay BIGINT;
	SELECT @TruyCapTuanNay = ISNULL(SUM(SoTruyCap), 0) FROM ThongKe
	WHERE ThoiGian BETWEEN @DauTuanNay AND GETDATE();

	DECLARE @SoLanTruyCapTuanTruoc BIGINT;
	SELECT @SoLanTruyCapTuanTruoc = ISNULL(SUM(SoTruyCap), 0) FROM ThongKe ttk
	WHERE ttk.ThoiGian BETWEEN @NgayDauTuanTruoc AND @NgayCuoiTuanTruoc;

	DECLARE @SoTruyCapThangNay BIGINT;
	SELECT @SoTruyCapThangNay = ISNULL(SUM(SoTruyCap), 0)
	FROM ThongKe ttk WHERE MONTH(ttk.ThoiGian) = MONTH(GETDATE());

	DECLARE @SoTruyCapThangTruoc BIGINT;
	SELECT @SoTruyCapThangTruoc = ISNULL(SUM(SoTruyCap), 0)
	FROM ThongKe ttk WHERE MONTH(ttk.ThoiGian) = MONTH(GETDATE()) - 1;

	DECLARE @TongSo BIGINT;
	SELECT @TongSo = ISNULL(SUM(SoTruyCap), 0) FROM ThongKe ttk;

	SELECT @SoTruyCapGanNhat AS HomNay,
		   @TruyCapHomQua AS HomQua,
		   @TruyCapTuanNay AS TuanNay,
		   @SoLanTruyCapTuanTruoc AS TuanTruoc,
		   @SoTruyCapThangNay AS ThangNay,
		   @SoTruyCapThangTruoc AS ThangTruoc,
		   @TongSo AS TatCa;
END;
GO